.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f22 {
  font-size: 22px;
}
.cursorPointer {
  cursor: pointer;
}
.loadinStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 115px;
  position: sticky;
  top: 0;
}
.headerBoxshowdow {
  box-shadow: 0 -18px 35px 6px #2d3e5070;
}
.logoStyle {
  height: 65%;
  padding-bottom: 5px;
  margin-left: 50px;
  margin-top: 10px;
}
.logoImg {
  width: 100%;
  height: 100%;
}
.dropdownList {
  display: flex;
  align-items: center;
  padding-right: 80px;
}
.navBarList {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333 !important;
  background-color: #fff !important;
  font-weight: 600 !important;
  border: none !important;
  font-size: 20px !important;
  margin: 0 10px;
  cursor: pointer;
}
.navBarList:hover {
  color: #da4545 !important;
}
.dropdown-menu {
  box-shadow: 0px 15px 20px 0px rgb(0 0 0 / 10%);
  border: none !important;
  border-radius: 0px !important;
}
.dropdown-item {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 20px !important;
  padding-right: 10px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.dropdown-item:hover {
  color: #da4545 !important;
  background-color: #fff !important;
}

.dropdown-toggle::after {
  margin-left: 10px !important;
}

.freeCallButton {
  padding: 15px 30px !important;
  border-radius: 0px !important;
  border: 2px solid #333333 !important;
  color: #333 !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.freeCallButton:hover {
  color: #fff !important;
  border-color: #da4545 !important;
  background-color: #da4545 !important;
}

/*---------- Footer styles ----------*/

.footer {
  width: 100%;
  background-color: #333;
  color: #dddddd;
}
.footerBody {
  bottom: 0;
  display: flex;
  gap: 30px;
  padding: 50px 30px 40px 30px;
}
.footerLogo {
  height: 22%;
}
.footerCompanyInfo {
  padding-top: 15px;
  margin-left: 20px;
}
.companyEmail {
  text-decoration: underline;
  padding: 40px 0px 15px;
}
.companyEmail:hover {
  color: #da4545 !important;
  text-decoration: none;
}
.footerCompanyInfo p {
  line-height: 30px;
}
.footerNavHead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 100px 50px 80px;
}
.overallFooter {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.overallFooter:last-child {
  padding-right: 80px;
}
.footerNavlist {
  font-weight: 600;
  padding: 0px 0px 20px;
  color: #fff;
}
.footerSubnavlist {
  margin-bottom: 20px !important;
}
.footerSubnavlist:hover {
  color: #da4545 !important;
}
.socialmediaIcons {
  width: 20%;
  position: relative;
  bottom: 110px;
  left: 45px;
}
.horizontalLine {
  font-size: 12px;
  padding: 0px 50px 10px;
  color: gray;
}

/* --------------- Carrer ---------------- */
.currentOpeningTxt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  font-size: 40px !important;
  font-weight: 800 !important;
  line-height: 52px;
}
.overallCarrerTabs {
  display: grid;
  column-gap: 50px;
  row-gap: 30px;
  grid-template-columns: auto auto auto;
  overflow: hidden;
  padding: 20px 40px;
}
.showCareer {
  height: max-content;
}
.hideCareer {
  height: 580px;
}
.subCareerTab {
  border: 1px solid lightgray;
  box-shadow: 10px 14px 64px rgb(194 194 194 / 25%);
  padding: 20px;
}
.carrerTitle {
  color: #da4545;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 50px;
}
.careerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4c4c4c;
}
.location {
  font-weight: 600;
}
.loadMore {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid lightgray;
  margin: 8px 35px 30px;
  color: #cc3366;
}

.loadMore:hover {
  box-shadow: 0 3px 15px -5px rgb(0 0 0 / 20%);
  color: #333;
}

/*----------------- Career detail ------------------------*/

.jobDes {
  padding: 40px 100px;
  color: #444444;
}
.jobListingTxt {
  text-decoration: underline;
  font-weight: 500;
}
.jobListingTxt:hover {
  color: #da4545;
}
.jobTitle {
  font-size: 24px;
  font-weight: 600;
}
.jobLocation {
  color: #da4545;
}
.applyButton {
  padding: 15px 40px !important;
  font-size: 20px !important;
  border-radius: 0px !important;
  background-color: #333333 !important;
  font-weight: 500 !important;
}
.applyButton:hover {
  background-color: #da4545 !important;
  border-color: #da4545 !important;
}

/*------------------ Media Queries -----------------------*/

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .logoStyle {
    height: 50%;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .freeCallButton {
    padding: 10px 5px !important;
    font-size: 9px !important;
  }
  .toggleDropdown {
    display: none;
  }
  .dropdownList {
    padding-right: 0px;
    width: 35%;
  }
  .jobDes {
    padding: 40px 30px;
    color: #444444;
  }
  .socialmediaIcons {
    width: 50%;
    position: relative;
    bottom: 100px;
    left: 70px;
  }
}
@media only screen and (min-width: 425px) {
  .socialmediaIcons {
    width: 50%;
    position: relative;
    bottom: 100px;
    left: 100px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 700px) {
  .jobDes {
    padding: 40px;
    color: #444444;
  }
}
@media only screen and (min-width: 425px) and (max-width: 1100px) {
  .logoStyle {
    height: 80%;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .toggleDropdown {
    display: none;
  }
  .dropdownList {
    padding-right: 80px;
    width: 45%;
  }
  .freeCallButton {
    padding: 10px 25px !important;
  }
}
@media only screen and (min-width: 530px) and (max-width: 650px) {
  .logoStyle {
    height: 70%;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .freeCallButton {
    padding: 10px 25px !important;
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 450px) and (max-width: 770px) {
  .socialmediaIcons {
    width: 30%;
    position: relative;
    bottom: 100px;
    left: 250px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 770px) {
  /*  footer */
  .footerNavHead {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 0px 100px 50px 80px;
  }
  .footerBody {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    padding: 50px 30px 40px 30px;
  }
  .overallFooter:last-child {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 770px) {
  .overallCarrerTabs {
    display: grid;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-columns: auto auto;
    overflow: hidden;
    padding: 20px 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 650px) {
  .overallCarrerTabs {
    display: grid;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-columns: auto;
    overflow: hidden;
    padding: 20px 40px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 800px) {
  /* - header media queries - */
  .header {
    height: 90px;
  }
  /* Career */
  .carrerTitle {
    font-size: 19px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .f20 {
    font-size: 18px;
  }
  .f14 {
    font-size: 9px;
  }
  /* - header media queries - */
  .header {
    height: 90px;
  }
  /* Career */
  .carrerTitle {
    font-size: 19px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 100px) {
  /* - career media queries - */
  .hideCareer {
    height: 710px !important;
    background-color: #da4545;
  }
}
